# fly.toml app configuration file generated for thethe on 2025-11-12T00:12:42-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'thethe'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = "echo 'Deployment complete'"

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/healthz'
